######

# Exclude many data and output file types by default

# Data
*.csv
*.tsv
*.parquet
*.dat
*.bin
*.xls
*.xlsx

# Documents
*.doc
*.docx
*.htm
*.html
*.ppt
*.pptx
*.pdf

# Images
*.bmp
*.jpg
*.jpeg
*.gif
*.pdf
*.png
*.svg
*.tif

# Compressed archives
*.gz
*.tar
*.tgz
*.rar
*.zip

# History files
.Rhistory
.Rapp.history

# Session Data Files
.RData
.RDataTmp

# User-specific files
.Ruserdata

#RSTudio files
.Rproj.user/